<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <title>EngNet</title>
</head>
<body>
    <div class="container">
        <div class="social-navbar">
            <div class="link">
                <a href="https://www.instagram.com/engnetconsultoria/"><img src="../assets/instagram.png" alt="instagram" class="icon-redes"></a>
                <a href="https://www.linkedin.com/company/engnet-consultoria-s-c/"><img src="../assets/linkedin.png" alt="linkedin" class="icon-redes"></a>
                <a href="https://wa.me/5561981689963"><img src="../assets/whatsapp.png" alt="whatsapp" class="icon-redes"></a>
                </div>
                </div>
                <nav class="navbar">
                    <div class="logo">
                        <a href="../index.html"><img src="../assets/logo.png" alt="Logo" class="icon-logo"></a>
                        <div class="logo-secoes">
                            <ul class="secoes">
                                <div class="black">
                                    <li><a href="./components/serviços.html" class="secao secao-preto"><span class="numero">01</span><br>Serviços</a></li>
                                </div>
                                <li><a href="#" class="secao"><span class="numero">02</span><br>Sobre nós</a></li>
                                <li><a href="#" class="secao"><span class="numero">03</span><br>Processo Seletivo</a></li>
                            </ul>
                        </div>
                    </div>            
                    <a href="mailto:contato@engnetconsultoria.com.br" class="contato">Fale com a gente <img src="../assets/email.png" alt="email" class="icon-email"></a>
                </nav>
        <div class="container_1">
            <section id="section2" class="secao2">
                <div class="card-container">
                    <img class="icon-card" src="../assets/aplicativos-laranja.png" alt="icon-app">
                    <h1 class="card-title">Aplicativo</h1>
                    <p class="card-description">O desenvolvimento de aplicativos é destinado a novos empreendedores ou empresas que buscam oferecer experiências personalizadas para seus usuários, facilitando e automatizando processos para o uso intuitivo do cliente.</p>
                </div>
                <div class="card-container">
                    <img class="icon-card" src="../assets/sistemas-web-laranja.png" alt="icon-web">
                    <h1 class="card-title">Sistema Web</h1>
                    <p class="card-description">Se adeque a todos os tipos de dispositivos por um sistema web que automatiza e organiza processos conforme sua personalização.</p>
                </div>
                <div class="card-container">
                    <img class="icon-card" src="../assets/sites-laranja.png" alt="icon-site">
                    <h1 class="card-title">Site</h1>
                    <p class="card-description">Se torne visível na internet, divulgue a imagem da sua instituição para o público e potencialize sua prospecção passiva e conversões online.</p>
                </div>
                <div class="card-container">
                    <img class="icon-card" src="../assets/consultoria-laranja.png" alt="icon-consultoria">
                    <h1 class="card-title">Consultoria</h1>
                    <p class="card-description">Verifique a viabilidade tecnológica do seu projeto e amadureça a sua ideia por meio da coleta de requisitos e prototipação.</p>
                </div>
                <div class="card-container last">
                    <img class="icon-card" src="../assets/solucoes-laranja.png" alt="icon-soluções">
                    <h1 class="card-title">Soluções Personalizadas</h1>
                    <p class="card-description">Soluções que se adequam a sua necessidade, abrangemos a integração de hardware ao software para a implementação do projeto.</p>
                </div>
            </section>
        </div>
    </div>
</body>
</html>